[Unit]
Description=Postfix Mail Transport Agent

[Service]
ExecStartPre=-/usr/sbin/postsuper -s
ExecStart=/usr/bin/postfix start-fg
ExecStop=/usr/bin/postfix stop
ExecReload=/usr/bin/postfix reload
Restart=always

[Install]
WantedBy=multi-user.target
